<!doctype html>
<html lang="en">
<head>
    <title>Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.userId, {'label': 'ID пользователя', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.bet, {'label': 'Ставка за час', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.startDate, {'label': 'Начальная дата', 'attr': {'class': 'form-control', 'placeholder': 'Пример: 01.03.2023'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.endDate, {'label': 'Конечная дата', 'attr': {'class': 'form-control', 'placeholder': 'Пример: 31.03.2023'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.token, {'label': 'Токен Evo', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.submit, {'label': 'Отправить', 'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_end(form) }}

</div>
</body>
</html>
